.header{
    width: 80%;
    text-align: center;
    position: static;
}

.datos{
    width: 80%;
}

.grid-function{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 1rem;
}

.gridImage{
    width: 100%;
    border-radius: 5px;
}

.ID-grid{
    text-align: center;
    font-weight: bold;
}

.gridContainer:hover{
    transform: scale(1.03);
}