@media only screen and (max-width: 600px) and (min-width: 400px) {
  .container {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 35%;
    text-align: center;
  }

  .btn_header{
    font-size: 6px;
  }

  .button {
    display: block;
    width: 30%;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #000;
    color: #eee;
    border: solid 1px #fff;
    box-shadow: 8px 8px 0 #fff;
  }

  .headerContainer>div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .Title {
    font-size: 0.8rem;
    margin-left: 6rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
  .container {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 35%;
    text-align: center;
  }

  .btn_header{
    font-size: 13px;
  }

  .button {
    display: block;
    width: 30%;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #000;
    color: #eee;
    border: solid 1px #fff;
    box-shadow: 8px 8px 0 #fff;
  }

  .headerContainer>div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .Title {
    font-size: 1rem;
    margin-left: 6rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) and (min-width: 700px){
  .container {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 35%;
    text-align: center;
  }

  .imgHeader{
    vertical-align: middle;
    margin-right: 5px;
    width: 1.2rem;
  }

  .button {
    display: block;
    width: 30%;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #000;
    color: #eee;
    border: solid 1px #fff;
    box-shadow: 8px 8px 0 #fff;
  }

  .headerContainer>div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .Title {
    font-size: 1rem;
    margin-left: 6rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px ) and (min-width: 800px){
  .container {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 40%;
    text-align: center;
  }

  .btn_header {
    font-size: 0.8rem;
  }

  .button {
    display: block;
    width: 30%;
    padding: 0.3rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #000;
    color: #eee;
    border: solid 1px #fff;
    box-shadow: 8px 8px 0 #fff;
  }

  .headerContainer>div {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }

  .Title {
    font-size: 1rem;
    margin-left: 6rem;
  }

  .description {
    font-size: 1.6rem;
  }
}